output_csvs
output_figures
temp_data/
_Data_copy/
_Data_fixes/temp_data/
_Data_fixes/_Data_copy/
_Data_fixes/_Data_copy\ -\ Copy/
*.asv
_Data_fixes/_Data_copy.zip
/_Data_fixes/__pycache__
log.txt
log_transfer_data_to_local.txt
log_find_strain_duplicates.txt
log_batch_fix_genotype.txt
*.zip
log_batch_add_new_coniditions_to_data.txt
log_batch_fix_EV_to_EVRNAi.txt
/_Data_fixes/Robot_experiment_sheets
temp.csv
/_Data_fixes/robot_sheets
